.spot-card-container__col-lg-4 {
    width: 25%;
}


@media screen and (max-width: 1200px) {
    .spot-card-container__col-md-2 {
       width: 50%;
    }
}

.spot-card {
    display: block;
    height: 100%;
}

.spot-card:hover .spot-card__list {
    opacity: 0;
}

.spot-card:hover .spot-card__img {
    opacity: 0;
}

.spot-card:hover .spot-card__descr {
    opacity: 1;
    transition: opacity .4s ease-out;
}

.spot-card:hover .spot-card__link-icon {
    animation: arrow-move 1s infinite linear;
}

.spot-card__inner {
    padding: 70px 40px 0 40px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .spot-card__inner {
        padding: 50px 24px 0 24px;
    }
}

.spot-card__title {
    font-family: GilroyMedium, sans-serif;
    font-size: 34px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0;
    line-height: 1em;
    margin-bottom: 45px;
}

@media screen and (max-width: 1600px) {
    .spot-card__title {
        font-size: 26px;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 1440px) {
    .spot-card__title {
        font-size: 24px;
    }
}

.spot-card__content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

.spot-card__list {
    padding: 0;
    margin: 0;
    color: #ffffff;
    margin-bottom: 70px;
}

@media screen and (max-width: 1600px) {
    .spot-card__list {
        margin-bottom: 40px;
    }
}

.spot-card__list-item {
    list-style: none;
    font-size: 16px;
    line-height: 1.4em;
    font-family: GilroyRegular, sans-serif;
    display: flex;
}

@media screen and (max-width: 1440px) {
    .spot-card__list-item {
        font-size: 14px;
    }
}

.spot-card__list-item:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .spot-card__list-item:not(:last-child) {
        margin-bottom: 27px;
    }
}

@media screen and (min-width: 1440px) {
    .spot-card__list-item {
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) {
    .spot-card__list-item {
        font-size: 20px;
    }
}

.spot-card__list-icon {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.spot-card__list-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.spot-card__list-icon svg rect {
    fill: #ffffff;
}

.spot-card__img {
    width: 100%;
    height: 200px;
    margin-top: auto;
}

@media screen and (min-width: 1600px) {
    .spot-card__img {
        height: 271px;
    }
}

.spot-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spot-card__descr {
    display: block;
    opacity: 0;
    color: #ffffff;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
}

.spot-card__descr-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    color: #ffffff;
    margin-bottom: 90px;
}

@media screen and (max-width: 1600px) {
    .spot-card__descr-text {
        font-size: 16px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1440px) {
    .spot-card__descr-text {
        font-size: 14px;
        margin-bottom: 40px;
    }
}



.spot-card__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    font-family: GilroyMedium, sans-serif;
}

@media screen and (max-width: 1600px) {
    .spot-card__link {
        font-size: 16px;
    }
}

.spot-card__link-icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.spot-card__link-icon svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
}

.spot-card_gravity {
    background-color: #006CEB;
}

.spot-card_limestone {
    background-color: #7AB914;
}

.spot-card_bigwall {
    background-color: #dd955e;
}

.spot-card_atmo {
    background-color: #bd3810;
}

@keyframes arrow-move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
