.mark-color-picker__name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    cursor: pointer;
}

.mark-color-picker__wrap {
    display: inline-flex;
    position: relative;
    outline: none;
}

.mark-color-picker__info {
    cursor: pointer;
}

.mark-color-picker__color {
    display: inline-block;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    margin-left: 15px;
}

.mark-color-picker__item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.mark-color-picker__item-text {
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    padding-left: 20px;
}
