.header {
    background-color: #718B9F;
    height: calc(40vh + 186px);
    width: 100%;
    max-width: 100%;
    position: relative;
    font-family: GilroyRegular;
}

@media screen and (max-width: 1440px) {
    .header {
        height: 480px;
    }
}

.header__top {
    display: flex;
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.header__items-container {
    color: #ffffff;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.header__item {
    padding-top: 75px;
    width: 100%;
    height: calc(100% - 75px);
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1440px) {
    .header__item {
        padding-top: 65px;
        height: calc(100% - 65px);
    }
}

.header__item-wrapper {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 182px);
}

@media screen and (max-width: 1440px) {
    .header__item-wrapper {
        width: 86%;
        height: calc(100% - 132px);
    }
}

.header__item-header {
    font-size: 70px;
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 0;
    font-family: GilroyBold;
}

@media screen and (max-width: 1440px) {
    .header__item-header {
        font-size: 50px;
        line-height: 1em;
        margin-bottom: 0;
        margin-top: 0;
        font-family: GilroyBold;
    }
}

.header__item-subtitle {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
    .header__item-subtitle {
        font-size: 24px;
        margin-top: 15px;
    }
}

