.modal__table-item {
    max-width: 215px;
    width: 100%;
    font-size: 16px;
    position: relative;
}

.modal__table-item_header {
    color: #828282;
}

.modal__table-item-calendar {
    display: block;
    position: absolute;
    content: '';
    z-index: 2;
    left: 0;
    top: calc(100% + 12px);
}

.modal__table-item-calendar_active {
    display: block;
}

.modal__table-item-right {
    max-width: 240px;
    width: 100%;
}

.date-picker-block__container {
    outline: none;
    position: relative;
}

.date-picker-block__select {
    width: 100%;
    height: 57px;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    border: 2px solid #DDE2EF;
    border-radius: 0;
    padding: 16px 40px 16px 20px;
    background-color: #ffffff;
    outline: none;
    transition: box-shadow .4s ease-out;
    font-family: GilroyRegular;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.date-picker-block__select::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 9px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%229%22%20viewBox%3D%220%200%2014%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7%209L0.0717972%20-1.30507e-06L13.9282%20-9.36995e-08L7%209Z%22%20fill%3D%22%231A1A1A%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100% auto;
    pointer-events: none;
    z-index: 2;
}

.date-picker-block__select::after {
    width: 45px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 1;
}

.date-picker-block__select_active {
    box-shadow: 0px 0px 0px 2px rgba(0, 108, 235, 0.7);
}

.date-picker-block__select:focus + .combo-box__dropdown {
    display: block;
}

.date-picker-block__select_small {
    height: 29px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 16px;
    width: auto;
    font-size: 16px;
}

@media screen and (max-width: 1440px) {
    .date-picker-block__select_small {
        font-size: 14px;
    }
}

.date-picker-block__select_small::before {
    width: 6px;
    height: 4px;
    right: 5px;
}

.date-picker-block__select_small::after {
    width: 15px;
}

.date-picker-block__select-transparent {
    border: 2px solid transparent;
    transition: box-shadow .4s ease-out, border .4s ease-out;
}

.date-picker-block__select-transparent::before {
    opacity: 0;
    transition: opacity .4s ease-out;
}

.date-picker-block__select-transparent:hover {
    border: 2px solid #DDE2EF;
}

.date-picker-block__select-transparent:hover::before {
    opacity: 1;
}

.date-picker-block__select-transparent:focus {
    border: 2px solid #DDE2EF;
}

.date-picker-block__select-transparent:focus::before {
    opacity: 1;
}

.react-datepicker-popper {
    z-index: 10;
}

.calendar {
    min-width: 244px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 12px 0 12px;
    background-color: #FEFEFE;
    position: relative;
}

.calendar_left {
    position: relative;
}

.calendar_left::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
}

.calendar__content-week {
    display: flex;
    margin-top: 6px;
    margin-bottom: 6px;
}

.calendar__content-day {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #000000;
    font-family: GilroyRegular, sans-serif;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    padding: none;
}

.calendar__content-day:hover {
    background-color: #F4F4F4;
}

.calendar__content-day_active {
    background-color: #006CEB;
    color: #ffffff;
}

.calendar__content-day_active:hover {
    background-color: #006CEB;
}

.calendar__content-day_current {
    color: #006CEB;
}

.calendar__content-day_active.calendar__content-day_current {
    color: #ffffff;
}

.calendar__content-day_unactive {
    color: #C2C3C8;
}

.calendar__content-day_unactive:hover {
    background-color: transparent;
}

.calendar__content-week-header {
    display: flex;
    border-bottom: 1px solid #F1F2F6;
    padding-bottom: 6px;
}

.calendar__content-month {
    margin-top: 12px;
    margin-bottom: 12px;
}

.calendar__content-week-header-day {
    width: 24px;
    height: 24px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 14px;
    color: #C2C3C8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.calendar__content-header-month {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #000000;
    font-family: GilroyBold, sans-serif;
    padding-bottom: 14px;
    align-items: center;
}

.calendar__content-header-button {
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .3s ease-out;
    padding: 0;
}

.calendar__content-header-button:hover {
    opacity: .7;
}

.calendar__content-header-button_prev {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M0.93391%205.83524L5.31226%2010.4138C5.41353%2010.5197%205.54871%2010.5781%205.69285%2010.5781C5.83699%2010.5781%205.97217%2010.5197%206.07344%2010.4138L6.39587%2010.0767C6.60568%209.857%206.60568%209.49999%206.39587%209.28067L2.71926%205.4359L6.39995%201.58687C6.50122%201.48089%206.55713%201.33961%206.55713%201.18896C6.55713%201.03814%206.50122%200.896863%206.39995%200.790797L6.07752%200.453782C5.97617%200.347801%205.84107%200.289415%205.69693%200.289415C5.55279%200.289415%205.41761%200.347801%205.31634%200.453782L0.93391%205.03649C0.832404%205.1428%200.776652%205.28475%200.776972%205.43565C0.776652%205.58714%200.832404%205.729%200.93391%205.83524Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

.calendar__content-header-button_next {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2211%22%20viewBox%3D%220%200%207%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M0.93391%205.83524L5.31226%2010.4138C5.41353%2010.5197%205.54871%2010.5781%205.69285%2010.5781C5.83699%2010.5781%205.97217%2010.5197%206.07344%2010.4138L6.39587%2010.0767C6.60568%209.857%206.60568%209.49999%206.39587%209.28067L2.71926%205.4359L6.39995%201.58687C6.50122%201.48089%206.55713%201.33961%206.55713%201.18896C6.55713%201.03814%206.50122%200.896863%206.39995%200.790797L6.07752%200.453782C5.97617%200.347801%205.84107%200.289415%205.69693%200.289415C5.55279%200.289415%205.41761%200.347801%205.31634%200.453782L0.93391%205.03649C0.832404%205.1428%200.776652%205.28475%200.776972%205.43565C0.776652%205.58714%200.832404%205.729%200.93391%205.83524Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.calendar__button {
    color: #C2C3C8;
    font-size: 14px;
    font-family: GilroyRegular, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color .3s ease-out, color .3s ease-out;
    position: relative;
}

.calendar__button::after {
    position: absolute;
    content: '';
    left: 12px;
    right: 12px;
    top: 0;
    height: 1px;
    background-color: #F1F2F6;
}

.calendar__button:hover {
    background-color: #F3F3F3;
    color: #6F6F6F;
}
