.modal-block {
    background-color: #ffffff;
    max-width: 580px;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modal-block__padding-wrapper {
    padding: 35px;
}

.modal-block__close {
    position: absolute;
    content: '';
    right: -40px;
    top: 0;
    width: 17px;
    height: 17px;
}

.modal-block__title {
    font-size: 30px;
    font-family: GilroyBold, sans-serif;
    color: #1f1f1f;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

.modal-block__or {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 17px;
}

.modal-block__or::before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #DEDCDC;
    z-index: 1;
}

.modal-block__or-inner {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
}

.social-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-links li {
    list-style-type: none;
    margin-right: 8px;
    margin-left: 8px;
}

.social-links li:first-child {
    margin-left: 0;
}

.social-links li:last-child {
    margin-right: 0;
}
