.logo__container {
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 1440px) {
    .logo__container {
        width: 65px;
        height: 65px;
    }
}

.logo {
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .4s ease-out;
}

.logo:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 108, 235, 0.7);
}

.logo__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .logo__icon {
        padding: 20px;
    }
}

.logo__icon img {
    width: 100%;
    height: 100%;
}
