.content {
    padding-top: 105px;
    padding-bottom: 105px;
}

.content__container {
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}
