.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.modal-overlay__wrapper {
    position: relative;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1464px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

@media screen and (min-width: 1920px) {
    .modal-overlay__modal {
        align-self: center;
    }
}

.modal__map {
    width: 80%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
}

.modal__hall-scheme {
    position: relative;
    align-self: center;
    max-height: 100%;
    overflow-y: auto;
}

.modal__hall-scheme img {
    width: 100%;
    max-width: 100%;
}

.modal__back {
    position: absolute;
    content: '';
    left: 24px;
    top: 24px;
}
