.main-page-header {
    background-color: #EBEBE2;
    background-image: url("/public/main-page-header-img/main-page-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 75px;
}

.main-page-header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-page-header__title {
    font-size: 50px;
    line-height: 1em;
    color: #1f1f1f;
    font-weight: normal;
    font-family: GilroyBold, sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (min-width: 1600px) {
    .main-page-header__title {
        font-size: 70px;
        margin-bottom: 60px;
    }
}

.main-page-header__descr {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 45px;
}

@media screen and (min-width: 1600px) {
    .main-page-header__descr {
        font-size: 26px;
        margin-bottom: 65px;
    }
}

.main-page-header__content {
    max-width: 1600px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.main-page-header__text {
    width: 55%;
}

.main-page-header__button-wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-page-header__img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.main-page-header__img img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1600px) {
    .main-page-header__img img {
        max-width: 100%;
    }
}
