.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.modal-overlay__wrapper {
    position: relative;
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    max-width: 1464px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 1100px;
}

@media screen and (min-width: 1920px) {
    .modal-overlay__modal {
        align-self: center;
    }
}

.modal {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    height: 80vh;
    min-height: 1040px;
    min-width: 960px;
}

@media screen and (max-width: 1600px) {
    .modal {
        height: 95vh;
        min-height: 700px;
    }
}

@media screen and (max-width: 1440px) {
    .modal {
        height: 95vh;
        min-height: 600px;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }
}

.modal__track-block {
    max-width: 530px;
    flex-basis: 45%;
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.modal__track-info {
    padding-top: 45px;
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
}

@media screen and (max-width: 1440px) {
    .modal__track-info {
        min-width: 410px;
        padding-top: 24px;
    }
}

.modal__track-header {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .modal__track-header {
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 1440px) {
    .modal__track-header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.modal__track-footer {
    padding: 33px 30px;
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {
    .modal__track-footer {
        padding: 16px 24px;
    }
}

.modal__track-footer-edit-mode {
    justify-content: flex-end;
}

.modal__track-footer-edit-mode-item:not(:first-child) {
    margin-left: 10px;
}

.modal__track-footer-edit-mode-item:not(:last-child) {
    margin-right: 10px;
}

.modal__track-count:not(:last-child) {
    margin-right: 30px;
}

.modal__track-count-num {
    margin-right: 4px;
}

.modal__track {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;
    display: block;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.modal__track-descr {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.modal__track-descr-picture {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 4px solid #797979;
    position: relative;
}

.modal__track-descr-picture::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: #797979;
    transform: translate(-50%, -50%);
}

.modal__track-descr-picture::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: #797979;
    transform: translate(-50%, -50%) rotate(90deg);
}

.modal__track-descr-text {
    font-family: GilroyBold, sans-serif;
    font-size: 30px;
    color: #797979;
    margin-top: 30px;
}

.modal__track-status {
    position: absolute;
    content: '';
    top: 42px;
    right: -3px;
}

.modal__track-information {
    display: flex;
    padding-right: 15px;
}

.modal__item {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 1440px) {
    .modal__item {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.modal__item-header {
    font-size: 22px;
    color: #1f1f1f;
    font-family: GilroyBold;
    line-height: 1.3em;
}

.modal__comment-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__enter-comment {
    padding: 12px 45px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    align-self: flex-end;
}

@media screen and (max-width: 1440px) {
    .modal__enter-comment {
        padding: 3px 32px;
    }
}

.modal__enter-comment::before {
    position: absolute;
    content: '';
    left: 45px;
    right: 45px;
    height: 1px;
    top: -1px;
    background-color: #CECECE;
    z-index: 2;
}

.modal__descr-item {
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 15px;
}

@media screen and (max-width: 1440px) {
    .modal__descr-item {
        padding-bottom: 6px;
    }
}

.modal__title {
    color: #1f1f1f;
    font-size: 30px;
    font-family: GilroyBold, sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 100px;
}

@media screen and (max-width: 1440px) {
    .modal__title {
        display: block;
        padding-right: 0;
        font-size: 24px;
        margin-bottom: 12px;
    }
}

.modal__title-place {
    color: #797979;
}

@media screen and (max-width: 1440px) {
    .modal__title-place {
        margin-top: 12px;
    }
}

.modal__title-place-wrapper {
    display: inline-block;
    margin-left: 18px;
}

@media screen and (max-width: 1440px) {
    .modal__title-place-wrapper {
        display: block;
        margin-top: 10px;
        margin-left: 0;
    }
}

.modal__title-input {
    border: none;
    font-size: 30px;
    color: #797979;
    font-family: GilroyBold, sans-serif;
    outline: none;
    max-width: 200px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

@media screen and (max-width: 1440px) {
    .modal__title-input {
        font-size: 24px;
    }
}

.modal__title-input:hover {
    border-bottom: 2px solid #E3E3E3;
}

.modal__number-input {
    max-width: 100px;
}

.modal__title-input_dark {
    color: #1f1f1f;
}

.modal__link {
    color: #006CEB;
    text-decoration: none;
}

.modal__link:hover {
    text-decoration: underline;
}

.modal__link_edit {
    width: 250px;
    width: 100%;
}

.modal__link_edit:hover {
    text-decoration: none;
}

.modal__close {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    right: -28px;
    top: 0px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.modal__field-select-drowdown {
    max-height: 308px;
    max-width: 250px;
}

.modal__descr-edit {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    border: 1px solid #DDE2EF;
    outline: none;
    transition: box-shadow .4s ease-out;
    resize: none;
    padding: 20px 20px;
    box-sizing: border-box;
    color: #828282;
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    overflow-x: hidden;
}

@media screen and (max-width: 1440px) {
    .modal__descr-edit {
        margin-top: 8px;
        font-size: 14px;
        padding: 14px;
    }
}

.modal__descr-edit:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 108, 235, 0.7);
}

.collapsable-block__header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: left;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #1f1f1f;
    font-family: GilroyBold;
    line-height: 1.3em;
}

@media screen and (max-width: 1440px) {
    .collapsable-block__header {
        font-size: 18px;
    }
}

.collapsable-block__header::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 7px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%228%22%20viewBox%3D%220%200%2010%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M5%207.1875L-6.01031e-08%202.1875L1.3125%200.8125L5%204.5L8.6875%200.8125L10%202.1875L5%207.1875Z%22%20fill%3D%22%231F1F1F%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    right: 0px;
    top: 12px;
}

@media screen and (max-width: 1440px) {
    .collapsable-block__header::after {
        top: 7px;
    }
}

.collapsable-block__header_active::after {
    transform: rotate(180deg);
}

.collapsable-block__header_edit {
    cursor: default;
}

.collapsable-block__header_edit::after {
    display: none;
}

.btn-handler__track-toggles {
    position: absolute;
    content: '';
    right: 25px;
    top: 25px;
    display: flex;
    z-index: 3;
}
