.category__slider {
    position: absolute;
    content: '';
    left: calc(100% + 14px);
    top: 47%;
    transform: translateY(-50%);
    padding-left: 13px;
    padding-right: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.category__slider::before {
    position: absolute;
    content: '';
    top: 50%;
    right: calc(100% - 6px);
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    box-shadow: -2px 3px 6px -2px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.category__slider::after {
    position: absolute;
    content: '';
    top: 50%;
    right: calc(100% - 6px);
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    z-index: 4;
}

.category__slider_active {
    display: flex;
}

.category__slider-bar {
    width: 5px;
    border: 2px solid #DDE2EF;
    position: relative;
    margin-left: 11px;
    background: linear-gradient(0deg, #FFFFFF 4%, #FFE602 20%, #48FF66 40%, #7C81FF 60%, #EB002A 80%, #141414 100%);
}

.category__slider-bar-handler {
    position: absolute;
    content: '';
    width: 20px;
    height: 9px;
    left: calc(100% + 4px);
    bottom: -5px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%229%22%20viewBox%3D%220%200%2020%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M1.49485%204.5L5.38374%201H19V8H5.38374L1.49485%204.5Z%22%20fill%3D%22white%22%20stroke%3D%22%23006CEB%22%20stroke-width%3D%222%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.category__slider-bar-item {
    position: absolute;
    content: '';
    width: 6px;
    height: 2px;
    background-color: #DDE2EF;
    right: 100%;
}

.category__slider-bar-item_first {
    top: -2px;
}

.category__slider-bar-item_middle {
    top: 50%;
    transform: translateY(-50%);
}

.category__slider-bar-item_last {
    bottom: -2px;
}

.category__slider-ruler {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category__slider-ruler-item {
    font-size: 14px;
    line-height: 1em;
    color: #1f1f1f;
    font-family: GilroyBold, sans-serif;
    align-self: flex-end;
}

.category__slider-ruler-item_first {
    margin-bottom: auto;
}

.category__slider-ruler-item_last {
    margin-top: auto;
}
