.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.modal-overlay__wrapper {
    position: relative;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1464px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

@media screen and (min-width: 1920px) {
    .modal-overlay__modal {
        align-self: center;
    }
}

.modal {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    min-height: 1040px;
}

.modal__track-block {
    min-width: 530px;
    width: 50vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.modal__track-info {
    padding-top: 45px;
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__track-header {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
}

.modal__track-footer {
    padding: 33px 30px;
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__track-footer-edit-mode {
    justify-content: flex-end;
}

.modal__track-footer-edit-mode-item:not(:first-child) {
    margin-left: 10px;
}

.modal__track-footer-edit-mode-item:not(:last-child) {
    margin-right: 10px;
}

.modal__track-count:not(:last-child) {
    margin-right: 30px;
}

.modal__track-count-num {
    margin-right: 4px;
}

.modal__track {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;
    display: block;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.modal__track-descr {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.modal__track-descr-picture {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 4px solid #797979;
    position: relative;
}

.modal__track-descr-picture::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: #797979;
    transform: translate(-50%, -50%);
}

.modal__track-descr-picture::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: #797979;
    transform: translate(-50%, -50%) rotate(90deg);
}

.modal__track-descr-text {
    font-family: GilroyBold, sans-serif;
    font-size: 30px;
    color: #797979;
    margin-top: 30px;
}

.modal__track-status {
    position: absolute;
    content: '';
    top: 38px;
    right: -3px;
}

.modal__track-information {
    display: flex;
}

.modal__item {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__item-header {
    font-size: 22px;
    color: #1f1f1f;
    font-family: GilroyBold;
    line-height: 1.3em;
}

.modal__comment-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__enter-comment {
    padding: 12px 45px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    align-self: flex-end;
}

.modal__enter-comment::before {
    position: absolute;
    content: '';
    left: 45px;
    right: 45px;
    height: 1px;
    top: -1px;
    background-color: #CECECE;
    z-index: 2;
}

.modal__descr-item {
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 15px;
}

.modal__title {
    color: #1f1f1f;
    font-size: 30px;
    font-family: GilroyBold, sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 90px;
}

.modal__title-place {
    color: #797979;
}

.modal__title-input {
    border: none;
    font-size: 30px;
    color: #797979;
    font-family: GilroyBold, sans-serif;
    outline: none;
    max-width: 200px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.modal__title-input:hover {
    border-bottom: 2px solid #E3E3E3;
}

.modal__number-input {
    max-width: 100px;
}

.modal__title-input_dark {
    color: #1f1f1f;
}

.modal__link {
    color: #006CEB;
    text-decoration: none;
}

.modal__link:hover {
    text-decoration: underline;
}

.modal__link_edit {
    width: 250px;
    width: 100%;
}

.modal__link_edit:hover {
    text-decoration: none;
}

.modal__close {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    right: -28px;
    top: 0px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.modal__field-select-drowdown {
    max-height: 308px;
    max-width: 250px;
}

.modal__descr-edit {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    border: 1px solid #DDE2EF;
    outline: none;
    transition: box-shadow .4s ease-out;
    resize: none;
    padding: 20px 20px;
    box-sizing: border-box;
    color: #828282;
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    overflow-x: hidden;
}

.modal__descr-edit:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 108, 235, 0.7);
}

.modal__track-image-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
}

.modal__track-image-wrapper img {
    height: auto;
    width: 100%;
    z-index: 2;
    margin-bottom: -7px;
}
