.route-data-table-row {
    display: flex;
    padding: 5px 0 5px;
}

@media screen and (max-width: 1440px) {
    .route-data-table-row  {
        padding: 3px 0 3px;
    }
}

.route-data-table-item {
    max-width: 215px;
    width: 100%;
    font-size: 16px;
}

@media screen and (max-width: 1440px) {
    .route-data-table-item {
        font-size: 14px;
    }
}

.route-data-table-item_header {
    color: #828282;
}

@media screen and (max-width: 1440px) {
    .route-data-table-item_header {
       min-width: 150px;
    }
}

.route-data-table__table-item-right {
    max-width: 240px;
    width: 100%;
}

.route-data-table__field-select {
    margin-left: -10px;
    margin-top: -3px;
}

.route-data-table__category-track {
    display: inline-block;
    vertical-align: middle;
}

.route-data-table__category-track-wrap {
    display: inline-flex;
    position: relative;
}

.route-data-table__category-track-info {
    cursor: pointer;
}

.route-data-table__category-track-color {
    display: inline-block;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    margin-left: 15px;
}

.route-data-table__category-track-color_5c {
    background-color: #E24D4D;
}

.route-data-table__link {
    color: #006CEB;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .route-data-table__link {
       white-space: nowrap;
    }
}

.route-data-table__link:hover {
    text-decoration: underline;
}
