.main-page-content {
    background-color: #ffffff;
}

.main-page-content__wrapper {
    max-width: 1600px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1600px) {
    .main-page-content__wrapper {
        max-width: 1425px;
        padding-left: 90px;
        padding-right: 90px;
    }
}

.main-page-content__container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-page-content__title {
    font-size: 46px;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: GilroyBold, sans-serif;
}

@media screen and (max-width: 1600px) {
    .main-page-content__title {
        font-size: 36px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1440px) {
    .main-page-content__title {
        font-size: 32px;
        line-height: 30px;
    }
}

