.list {
    padding: 0;
    margin: 0;
}

.list-item {
    list-style: none;
}

.list-link {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: #1F1F1F;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
}

.list-link:hover {
    background-color: #F5F5F5;
}

.list-icon {
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-top: -2px;
}

.list-icon svg {
    width: 100%;
    height: 100%;
    fill: #1F1F1F;
}

.list-item-decor {
    height: 1px;
    background-color: #D9D8D8;
    margin: 6px 12px;
}
